.menu-container {
  width: 75%;
  margin: 0 auto;
  /*border: 1px black solid;*/
  background-color: gray;
}

.row {
  /*width: 100%;*/
}

.header {
  /*border: 1px black solid;*/
  margin: 0 auto;
  text-align: center;
  background-color: orange;
  width: 70%;
}

.menu-cols {
  margin: 0 auto;
}

.left {
  /*border: 1px black solid;*/
  background-color: red;
  text-align: center;
  color: white;
  /*width: 40%;*/
}

.right {
  /*border: 1px black solid;*/
  background-color: blue;
  text-align: center;
  color: white;
  /*width: 35%;*/
}

.footer {
  /*border: 1px black solid;*/
  margin: 0 auto;
  text-align: center;
  background-color: yellow;
  width: 70%;
}
